<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>&{'secure.title'}</title>
<link rel="stylesheet" href="/public/css/style.css" media="all" type="text/css" />
<link rel="stylesheet" href="/public/css/custom.css" media="all" type="text/css" />
<link rel="stylesheet" href="/public/css/lanrentuku.css" media="all" type="text/css" />
<link rel="stylesheet" href="/public/lib/fancybox/jquery.fancybox-1.3.4.css" media="all" type="text/css" />
<script type="text/javascript" src="/public/javascripts/head.load.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/public/javascripts/ajax.js"></script>
<script type="text/javascript" src="/public/lib/scrollFollow/scrollQ.js"></script>
<script type="text/javascript" src="/public/lib/jquery-ui/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="/public/javascripts/jquery.cookie.js"></script>
<script type="text/javascript" src="/public/lib/fancybox/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/public/lib/IA300/IA300ClientJavascript.js"></script>
<style type="text/css">
ul,li {
	margin: 0;
	padding: 0
}
#box_getNew {
	height: 360px;
	overflow: hidden
} /*358->342*/
.disabled {
	cursor: default;
	background-image: none;
	background-color: #E6E6E6;
	opacity: 0.65;
	filter: alpha(opacity =     65);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
</style>
</head>

<body class="bg_c sidebar fluid">
	<div id="main" style="margin: 0 auto; margin-top: 25px; width: 980px;">
		<div class="wrapper cf">
			<div style="padding-bottom: 10px;" id="main_section" class="cf brdrrad_a">
				<div id="content_wrapper" style="margin-top: 5px;">
					<div id="main_content" class="cf">
						<!-- 正文开始 -->
						<div class="dp67 sortable">
							<div class="box_c">
								<div class="box_c_pic" style="height: 170px; width: 634px;">
									<div id="imgPlay">
										<ul class="imgs" id="actor">
											<li><img title="天玑舆情监测服务平台" src="/public/images/banner01.jpg" /></li>
											<li><img title="舆情监测服务" src="/public/images/banner02.jpg" /></li>
											<li><img title="微博监测服务" src="/public/images/banner03.jpg" /></li>
										</ul>
										<div class="num">
											<p class=lc></p>
											<p class=mc></p>
											<p class=rc></p>
										</div>
										<div class="num" id="numInner"></div>
										<!--div class=prev>上一张</div>
										<div class=next>下一张</div-->
									</div>
								</div>
							</div>
						</div>
						<div class="dp33 sortable">

							<div class="login_wrapper" style="margin-bottom: 12px;">
								<div class="loginBox">
									<div class="heading cf">
										<ul class="login_tabs fr cf">
											<li><a href="#login">登录</a></li>
											<!-- <li><a href="#register">注册</a></li> 
							<li style="display:none"><a href="#password">忘记密码</a></li>-->
										</ul>
										<img src="/public/images/logoS.png" alt="" class="fl" />
									</div>
									<div class="content">
										<div class="login_panes formEl_a">
											<div>
												#{if flash.error}
												<div class="msg_box msg_error">&{flash.error}</div>
												#{/if} #{if flash.success}
												<div class="msg_box msg_ok">&{flash.success}</div>
												#{/if}
												<!-- 普通登录 -->
												#{form @authenticate(),id:'comLoginForm'}
												<p class="sepH_b" style="line-height: 21px; color: #21759B; margin-bottom: 12px;">
													欢迎使用天玑舆情监测服务平台！<br>请输入您的用户名和密码进行登录。 
												</p>
												<div class="msg_box msg_error" id="allErrors" style="display: none"></div>
												<div class="sepH_a">
													<p id="username-field">
														<label for="username" class="lbl_aa bold">&{'secure.username'}</label> <input type="text" name="username" id="username"
															class="inpt_aa" value="${flash.hasuser=='no'? '':flash.username}" />
													</p>
												</div>
												<div class="sepH_b">
													<p id="password-field">
														<label for="password" class="lbl_aa bold">&{'secure.password'}</label> <input type="password" name="password" id="password"
															value="" class="inpt_aa" />
													</p>
												</div>
												<div class="sepH_b" style="margin-left: 10px;">
													<button class="btn_a btn" type="submit" style="margin-left: 75px;" id="signin">&{'secure.signin'}</button>
													<a href="javascript:void(0)" class="small forgetPass" style="margin-left: 5px; vertical-align: bottom;" modelid="forgetPass">忘记密码?</a>
												</div>
												#{/form}
											</div>
											<div style="display: none">
												<div id="forgetPass">
													<form id="ResetPass" action="" class="formEl_a ResetPass" method="post"
														style="width: 320px; height: auto; padding-bottom: 20px;">
														<h2 style="border-bottom: 1px solid #ccc; line-height: 30px; margin-bottom: 20px;">找回密码</h2>
														<div class="msg_box msg_error notMatch" style="display: none">用户名和邮箱不匹配！</div>
														<div class="msg_box msg_ok isMatch" style="display: none">邮件发送成功，请前往邮箱重设密码！</div>
														<div class="msg_box msg_error threeNO" style="display: none">请联系您上级管理员重置或找回邮箱！</div>
														<div class="sepH_a">
															<label for="usernames" class="lbl_aa">用户名：</label> 
															<input type="text" id="usernames" name="usernames"	class="inpt_aa required usernames" />
														</div>
														<div class="sepH_b">
															<label for="emails" class="lbl_aa">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</label> 
															<input type="text" id="emails" name="emails" class="inpt_aa required emails" />
														</div>
														<p class="tac">
															<button type="submit" class="btn btn_c resetYes">
																<span>保存</span>
															</button>
															<a href="javascript:void(0)" class="btn btn_a resetNo">取消</a>
														</p>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="cf">
						<div class="sortable dp100"></div>
					</div>
					<!-- 正文结束 -->
				</div>
			</div>
		</div>
	</div>

	<div style="margin: 0 auto; width: 980px; margin-bottom: 25px;"></div>
	<script type="text/javascript">
        head.js("/public/lib/fancybox/jquery.fancybox-1.3.4.pack.js");
        head.js("/public/lib/fancybox/jquery.easing-1.3.pack.js");
        head.js("/public/javascripts/jquery.tools.min.js");
        head.js("/public/lib/jquery-validation/jquery.validate.js");
        head.js("/public/lib/jquery-validation/localization/messages_cn.js");
        head.js("/public/javascripts/login.js");
        head.js("/public/javascripts/lanrentuku.js");
        head.js("/public/javascripts/forgetPass.js");
        $("body").removeClass("sidebar");
        head.ready(function() {
            getValidation();
            $("#actor").css("width", "5760px");

            //忘记密码
            $(".forgetPass").die().live('click', function() {
                $(".notMatch").hide();
                $(".isMatch").hide();
                $(".threeNo").hide();
                $("#usernames").val("");
                $("#emails").val("");
                $("#usernames").parent().removeClass("error");
                $("#emails").parent().removeClass("error");
                $("label.error").remove();
                var modelid = $(this).attr("modelid");
                $.fancybox({
                    'transitionIn' : 'elastic',
                    'showCloseButton' : true,
                    'showNavArrows' : false,
                    'overlayOpacity' : '0.5',
                    'content' : '#' + modelid, //'#forgetPass'
                    'type' : 'inline',
                    'hideOnOverlayClick' : false
                });

                $(".resetNo").click(function() {
                    $.fancybox.close();
                });

            });
        });
    </script>
</body>
</html>