.msg_box {
	padding: 6px 20px 6px 38px;
}

.msg_box {padding:8px 20px 8px 46px;margin-bottom:10px;position:relative;color:#444;overflow:hidden}
.msg_box img {background-image: url(../images/lga_spr.png);background-repeat:no-repeat;width:9px;height:9px}
.msg_error {background:#f2cac2 url(../images/error_ico.png) no-repeat 14px center;border:1px solid #ae432e}
.msg_error img {background-position:-47px 0}
.msg_box .msg_close {position:absolute;top:2px;right:2px;cursor:pointer}
.msg_info {background:#c2e2f2 url(../images/info_ico.png) no-repeat 14px center;border:1px solid #058dc7}
.msg_info img {background-position:-47px -18px}
.msg_ok {background:#d5e5b8 url(../images/ok_ico.png) no-repeat 25px center;border:1px solid #77ab13}
.msg_ok img {background-position:-47px -9px}
.msg_alert {background:#faf5c8 url(../images/alert_ico.png) no-repeat 14px center;border:1px solid #e6c26e}
.msg_alert img {background-position:-47px -27px}
		
form .msg_box label {display:block;padding:2px 0}

.brdrrad_b,.msg_box,.count_el,.notification,#main_nav .nav_item,.visualize-tooltip,


.headerTopAreaBox {
width: 100%;
height: 32px;
background: #fff;
border-bottom: 1px solid #ccc;
}
.headerTopArea {
width: 100%;
height: 31px;
background: #f7f7f7;
}
.headerTopArea .headerTop {
width: 1000px;
height: 31px;
line-height: 32px;
margin: 0 auto;
_overflow: hidden;
}
.headerTopArea .headerTop {
width: 980px;
height: 31px;
line-height: 32px;
margin: 0 auto;
_overflow: hidden;
background: #f7f7f7;
}
.headerTopArea .headerTopLeft {
width: 445px;
float: left;
}
.headerTopArea .loginArea {
float: left;
}
.headerTopArea .loginArea span {
color: #a10000;
}
.headerTopArea .headerTop {
line-height: 32px;
}
.headerTopArea .loginArea a:link, .headerTopArea .loginArea a:visited, .headerTopArea .loginArea a:hover {
color: #a10000;
}
.headerTopArea .recommendArea {
margin: 0px 0 0 8px;
float: left;
display: inline;
}
.headerTop a:link, .headerTop a:visited {
color: #333;
text-decoration: none;
}
.headerTopArea .recommendArea a {
padding-right: 9px;
}

.headerTopArea .headerTopRight {
width: 438px;
float: right;
}
.headerTopRight {
width: 157px;
float: right;
position: relative;
z-index: 10;
}
.headerTopArea #myVancl, .headerTopArea #vanclMap, .headerTopArea #vanclHelp {
width: 70px;
height: 18px;
line-height: 18px;
margin: 7px 0 0 0px;
float: left;
display: inline;
position: relative;
z-index: 15;
cursor: pointer;
}