<link rel="stylesheet" type="text/css" href="/public/css/index.css" />
<h1>仿天猫导航</h1>
<div class="floor-loading" id="floorLink1">
	<div>
		<div class="floor" id="floor1" data-spm="3.359242.295813">
			<h2>
				1F 美容珠宝<s></s>
			</h2>
			<div class="floorTop">
				<ul class="floorTop-nav">
					<li>
						<a href="" target="_blank">保湿</a>
					</li>
					<li>
						<a href="" target="_blank">美白</a>
					</li>
					<li>
						<a href="" target="_blank">洗护</a>
					</li>
					<li>
						<a href="" target="_blank">BB霜</a>
					</li>
					<li>
						<a href="" target="_blank">防晒</a>
					</li>
					<li>
						<a href="" target="_blank">脱毛膏</a>
					</li>
					<li>
						<a href="" target="_blank">珍珠</a>
					</li>
					<li>
						<a href="" target="_blank">户外专业表</a>
					</li>
				</ul>
			</div>

			<div class="floorCon clearfix">
				<div class="floorCon-logo j_aldLogo">
					<ul class="fCl-slide" style="position: absolute; width: 999999px; left: -240px;">
						<li class="ks-switchable-panel-internal160" style="display: block; float: left;">
							<a href="" title="周大福" target="_blank">
								<img width="90" height="45" data-src="http://img01.taobaocdn.com/tps/i1/T1GZ_UXjteXXXQXDnq-90-45.png">
							</a>
							<a href="" title="百雀羚" target="_blank">
								<img width="90" height="45" data-src="http://img01.taobaocdn.com/tps/i1/T1aVHUXgdgXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Olay/玉兰油" target="_blank">
								<img width="90" height="45" data-src="http://img04.taobaocdn.com/tps/i4/T11jjUXnVbXXXQXDnq-90-45.png">
							</a>
							<a href="" title="美肤宝" target="_blank">
								<img width="90" height="45" data-src="http://img02.taobaocdn.com/tps/i2/T1qQHPXjVoXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Bolon/暴龙" target="_blank">
								<img width="90" height="45" data-src="http://img03.taobaocdn.com/tps/i3/T1eizPXjtoXXXQXDnq-90-45.png">
							</a>
						</li>
						<li class="ks-switchable-panel-internal160" style="display: block; float: left;">
							<a href="" title="相宜本草" target="_blank">
								<img width="90" height="45" data-src="http://img01.taobaocdn.com/tps/90919986/T2iZH6XoxaXXXXXXXX_!!90919986.jpg">
							</a>
							<a href="" title="蓝月亮" target="_blank">
								<img width="90" height="45" data-src="http://img03.taobaocdn.com/tps/i3/T1M0YSXgNmXXXQXDnq-90-45.png">
							</a>
							<a href="" title="张万福珠宝" target="_blank">
								<img width="90" height="45" data-src="http://img04.taobaocdn.com/tps/i4/T1gr6YXXdaXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Etude/爱丽" target="_blank">
								<img width="90" height="45" data-src="http://img03.taobaocdn.com/tps/i3/T1PoYTXj8fXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Maybelline/美宝莲" target="_blank">
								<img width="90" height="45" data-src="http://img04.taobaocdn.com/tps/i4/T1BBQYXitaXXXQXDnq-90-45.png">
							</a>
						</li>
						<li class="ks-switchable-panel-internal160" style="display: block; float: left;">
							<a href="" title="东祥" target="_blank">
								<img width="90" height="45" src="http://img01.taobaocdn.com/tps/i1/T1.YrVXnxXXXXQXDnq-90-45.png">
							</a>
							<a href="" title="HAOBAIMPRESSION/豪8印象" target="_blank">
								<img width="90" height="45" src="http://img04.taobaocdn.com/tps/i4/T1vv2TXXpmXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Pulais/普莱斯" target="_blank">
								<img width="90" height="45" src="http://img03.taobaocdn.com/tps/i3/T1vqnYXehaXXXQXDnq-90-45.png">
							</a>
							<a href="" title="Walch/威露士" target="_blank">
								<img width="90" height="45" src="http://img01.taobaocdn.com/tps/T1tcCtXo4QXXXXXXXX-90-45.png">
							</a>
							<a href="" title="" target="_blank">更多品牌&gt;&gt;</a>
						</li>
					</ul>
					<ul class="fCl-nav ui-slide-nav-mini">
						<li class="ks-switchable-trigger-internal159">•</li>
						<li class="ks-switchable-trigger-internal159">•</li>
						<li class="ks-switchable-trigger-internal159 active">•</li>
					</ul>
				</div>

				<div class="floorCon-slide j_SlideBanner">

					<ul class="fCs-con" style="position: absolute; width: 999999px; left: -400px;">
						<li class="ks-switchable-panel-internal166" style="display: block; float: left;">
							<a href="" target="_blank" title="个人洗护 立减100">
								<img src="http://img03.taobaocdn.com/tps/i3/T1VjqzXA8aXXad1GY4-200-320.jpg_q90.jpg" width="200" height="320" alt="个人洗护 立减100">
							</a>
						</li>
						<li class="ks-switchable-panel-internal166" style="display: block; float: left;">
							<a href="" target="_blank" title="魅力“型”男 一套搞定">
								<img data-ks-lazyload-custom="http://img04.taobaocdn.com/tps/i4/T1he11XvpaXXad1GY4-200-320.jpg_q90.jpg" width="200" height="320"
									alt="魅力“型”男 一套搞定">
							</a>
						</li>
						<li class="ks-switchable-panel-internal166" style="display: block; float: left;">
							<a href="" target="_blank" title="镜彩一夏 品牌太阳镜">
								<img width="200" height="320" alt="镜彩一夏 品牌太阳镜" src="http://img02.taobaocdn.com/tps/i2/T1bnuUXrhdXXad1GY4-200-320.jpg_q90.jpg">
							</a>
						</li>
					</ul>
					<ul class="fCs-nav fCs-nav-num3">
						<li class="fCs-nav1 ks-switchable-trigger-internal165" style="left: 220px;">
							<a href="" target="_blank" title="个人洗护 立减100">个人洗护 立减100</a>
							<s></s>
						</li>
						<li class="fCs-nav2 ks-switchable-trigger-internal165" style="left: 220px;">
							<a href="" target="_blank" title="魅力“型”男 一套搞定">魅力“型”男 一套搞定</a>
							<s></s>
						</li>
						<li class="fCs-nav3 ks-switchable-trigger-internal165 active" style="left: 220px;">
							<a href="" target="_blank" title="镜彩一夏 品牌太阳镜">镜彩一夏 品牌太阳镜</a>
							<s></s>
						</li>
					</ul>
				</div>

				<a href="" class="floorCon-banner j_floorBanner" title="奢美汇" target="_blank">
					<img src="http://img04.taobaocdn.com/tps/i4/T1XZyHXAVbXXXHoWL4-200-300.jpg_q90.jpg" width="161" height="300" alt="奢美汇">
				</a>
				<a href="" class="floorCon-banner j_floorBanner" title="表" target="_blank">
					<img src="http://img04.taobaocdn.com/tps/i4/T1F1SWXsNdXXXHoWL4-200-300.jpg_q90.jpg" width="161" height="300" alt="表">
				</a>
				<a href="" class="floorCon-banner j_floorBanner" title="表" target="_blank">
					<img src="http://img04.taobaocdn.com/tps/i4/T1F1SWXsNdXXXHoWL4-200-300.jpg_q90.jpg" width="161" height="300" alt="表">
				</a>
			</div>
		</div>
	</div>
</div>