*{#{if syClass.size() > 0}
	#{list items:syClass,as:'syc'}
		<li class="list-item${syc.id} ${syc_index%2==0?'alt':''}" wdid="${syc.id}">
			<h3>${syc.catDesc}</h3>
			<p>
				<a href="#">女装</a>
				<a href="#">男装</a>
				<a href="#">内衣</a>
				<a href="#">羽绒</a>
				<a href="#">呢大衣</a>
			</p>
			<p>
				<a href="#">毛衣</a>
				<a href="#">保暖</a>
				<a href="#">睡衣</a>
				<a href="#">男羽绒</a>
				<a href="#">男毛衣</a>
			</p>
		</li>
	#{/list}
#{/if}*

<div class="subView">
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">服装/内衣/配件</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣棉服</a>
				<a target="_blank" href="#">毛呢外套</a>
				<a target="_blank" href="#">打底裤</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">连衣裙</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">中老年服装</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">T恤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">半身裙</a>
				<a target="_blank" href="#">皮草</a>
				<a target="_blank" href="#">婚纱/礼服/旗袍</a>
				<a target="_blank" href="#">真皮皮衣</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">婚纱</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">ochirly</a>
				<a target="_blank" href="#">韩都衣舍</a>
				<a target="_blank" href="#">裂帛</a>
				<a target="_blank" href="#">优衣库</a>
				<a target="_blank" href="#">only</a>
				<a target="_blank" href="#">秋水伊人</a>
				<a target="_blank" href="#">哥弟</a>
				<a target="_blank" href="#">粉红大布娃娃</a>
				<a target="_blank" href="#">三彩</a>
				<a target="_blank" href="#">歌莉娅</a>
				<a target="_blank" href="#">茵曼</a>
				<a target="_blank" href="#">艾莱依</a>
				<a target="_blank" href="#">衣香丽影</a>
				<a target="_blank" href="#">江南布衣</a>
				<a target="_blank" href="#">纳纹</a>
				<a target="_blank" href="#">播</a>
				<a target="_blank" href="#">香影</a>
				<a target="_blank" href="#">雅鹿</a>
				<a target="_blank" href="#">OSA</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">服饰配件</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">女士丝巾/围巾/披肩</a>
				<a target="_blank" href="#">男士皮带</a>
				<a target="_blank" href="#">女士腰带</a>
				<a target="_blank" href="#">毛线</a>
				<a target="_blank" href="#">手套</a>
				<a target="_blank" href="#">帽子</a>
				<a target="_blank" href="#">男士围巾</a>
				<a target="_blank" href="#">领带/领结</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">Rayli</a>
				<a target="_blank" href="#">CARTELO</a>
			</p>
		</li>
	</ul>
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精品男装</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣</a>
				<a target="_blank" href="#">皮衣</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">呢大衣</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">夹克</a>
				<a target="_blank" href="#">羊绒衫</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">马甲/背心</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">t恤</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">皮裤</a>
				<a target="_blank" href="#">西服</a>
				<a target="_blank" href="#">西裤</a>
				<a target="_blank" href="#">西服套装</a>
				<a target="_blank" href="#">中老年服装</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">JACKJONES</a>
				<a target="_blank" href="#">太平鸟</a>
				<a target="_blank" href="#">GXG</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">劲霸</a>
				<a target="_blank" href="#">马克华菲</a>
				<a target="_blank" href="#">九牧王</a>
				<a target="_blank" href="#">利郎</a>
				<a target="_blank" href="#">LEE</a>
				<a target="_blank" href="#">柒牌</a>
				<a target="_blank" href="#">LEVI'S</a>
				<a target="_blank" href="#">SELECTED</a>
				<a target="_blank" href="#">杉杉</a>
				<a target="_blank" href="#">雅戈尔</a>
				<a target="_blank" href="#">DICKIES</a>
				<a target="_blank" href="#">诺帝卡</a>
				<a target="_blank" href="#">报喜鸟</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">时尚家居</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">睡衣套装</a>
				<a target="_blank" href="#">夹棉家居服</a>
				<a target="_blank" href="#">珊瑚绒家居服</a>
				<a target="_blank" href="#">情侣套装</a>
				<a target="_blank" href="#">卡通睡衣</a>
				<a target="_blank" href="#">睡袍</a>
				<a target="_blank" href="#">睡裙</a>
				<a target="_blank" href="#">睡裤</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">芬腾</a>
				<a target="_blank" href="#">安之伴</a>
				<a target="_blank" href="#">派邦奴</a>
				<a target="_blank" href="#">秋鹿</a>
				<a target="_blank" href="#">睦隆世家</a>
				<a target="_blank" href="#">雪俐</a>
				<a target="_blank" href="#">爱帝</a>
				<a target="_blank" href="#">美梦</a>
			</p>
		</li>
	</ul>		
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精致内衣</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">保暖套装</a>
				<a target="_blank" href="#">保暖上衣</a>
				<a target="_blank" href="#">精品文胸</a>
				<a target="_blank" href="#">塑身衣</a>
				<a target="_blank" href="#">女式内裤</a>
				<a target="_blank" href="#">文胸套装</a>
				<a target="_blank" href="#">中筒袜</a>
				<a target="_blank" href="#">连裤袜</a>
				<a target="_blank" href="#">男式内裤</a>
				<a target="_blank" href="#">保暖裤</a>
				<a target="_blank" href="#">聚拢文胸</a>
				<a target="_blank" href="#">美腿袜</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">浪莎</a>
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">南极人</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">北极绒</a>
				<a target="_blank" href="#">爱慕</a>
				<a target="_blank" href="#">曼妮芬</a>
				<a target="_blank" href="#">歌瑞尔</a>
				<a target="_blank" href="#">古今</a>
				<a target="_blank" href="#">猫人</a>
				<a target="_blank" href="#">安莉芳</a>
				<a target="_blank" href="#">夏娃之秀</a>
				<a target="_blank" href="#">黛安芬</a>
				<a target="_blank" href="#">金三塔</a>
			</p>
		</li>
		<p class="subItemAd">
			<a target="_blank" href="#"><img width="218" height="32" alt="潮流服饰精选" src="http://img04.taobaocdn.com/tps/i4/T1dVzWXbpjXXb12rTm-218-32.png"></a>
		</p>	
	</ul>
</div>
<div class="subView">
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">鞋/箱包</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣棉服</a>
				<a target="_blank" href="#">毛呢外套</a>
				<a target="_blank" href="#">打底裤</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">连衣裙</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">中老年服装</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">T恤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">半身裙</a>
				<a target="_blank" href="#">皮草</a>
				<a target="_blank" href="#">婚纱/礼服/旗袍</a>
				<a target="_blank" href="#">真皮皮衣</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">婚纱</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">ochirly</a>
				<a target="_blank" href="#">韩都衣舍</a>
				<a target="_blank" href="#">裂帛</a>
				<a target="_blank" href="#">优衣库</a>
				<a target="_blank" href="#">only</a>
				<a target="_blank" href="#">秋水伊人</a>
				<a target="_blank" href="#">哥弟</a>
				<a target="_blank" href="#">粉红大布娃娃</a>
				<a target="_blank" href="#">三彩</a>
				<a target="_blank" href="#">歌莉娅</a>
				<a target="_blank" href="#">茵曼</a>
				<a target="_blank" href="#">艾莱依</a>
				<a target="_blank" href="#">衣香丽影</a>
				<a target="_blank" href="#">江南布衣</a>
				<a target="_blank" href="#">纳纹</a>
				<a target="_blank" href="#">播</a>
				<a target="_blank" href="#">香影</a>
				<a target="_blank" href="#">雅鹿</a>
				<a target="_blank" href="#">OSA</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">服饰配件</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">女士丝巾/围巾/披肩</a>
				<a target="_blank" href="#">男士皮带</a>
				<a target="_blank" href="#">女士腰带</a>
				<a target="_blank" href="#">毛线</a>
				<a target="_blank" href="#">手套</a>
				<a target="_blank" href="#">帽子</a>
				<a target="_blank" href="#">男士围巾</a>
				<a target="_blank" href="#">领带/领结</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">Rayli</a>
				<a target="_blank" href="#">CARTELO</a>
			</p>
		</li>
	</ul>
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精品男装</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣</a>
				<a target="_blank" href="#">皮衣</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">呢大衣</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">夹克</a>
				<a target="_blank" href="#">羊绒衫</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">马甲/背心</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">t恤</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">皮裤</a>
				<a target="_blank" href="#">西服</a>
				<a target="_blank" href="#">西裤</a>
				<a target="_blank" href="#">西服套装</a>
				<a target="_blank" href="#">中老年服装</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">JACKJONES</a>
				<a target="_blank" href="#">太平鸟</a>
				<a target="_blank" href="#">GXG</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">劲霸</a>
				<a target="_blank" href="#">马克华菲</a>
				<a target="_blank" href="#">九牧王</a>
				<a target="_blank" href="#">利郎</a>
				<a target="_blank" href="#">LEE</a>
				<a target="_blank" href="#">柒牌</a>
				<a target="_blank" href="#">LEVI'S</a>
				<a target="_blank" href="#">SELECTED</a>
				<a target="_blank" href="#">杉杉</a>
				<a target="_blank" href="#">雅戈尔</a>
				<a target="_blank" href="#">DICKIES</a>
				<a target="_blank" href="#">诺帝卡</a>
				<a target="_blank" href="#">报喜鸟</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">时尚家居</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">睡衣套装</a>
				<a target="_blank" href="#">夹棉家居服</a>
				<a target="_blank" href="#">珊瑚绒家居服</a>
				<a target="_blank" href="#">情侣套装</a>
				<a target="_blank" href="#">卡通睡衣</a>
				<a target="_blank" href="#">睡袍</a>
				<a target="_blank" href="#">睡裙</a>
				<a target="_blank" href="#">睡裤</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">芬腾</a>
				<a target="_blank" href="#">安之伴</a>
				<a target="_blank" href="#">派邦奴</a>
				<a target="_blank" href="#">秋鹿</a>
				<a target="_blank" href="#">睦隆世家</a>
				<a target="_blank" href="#">雪俐</a>
				<a target="_blank" href="#">爱帝</a>
				<a target="_blank" href="#">美梦</a>
			</p>
		</li>
	</ul>		
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精致内衣</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">保暖套装</a>
				<a target="_blank" href="#">保暖上衣</a>
				<a target="_blank" href="#">精品文胸</a>
				<a target="_blank" href="#">塑身衣</a>
				<a target="_blank" href="#">女式内裤</a>
				<a target="_blank" href="#">文胸套装</a>
				<a target="_blank" href="#">中筒袜</a>
				<a target="_blank" href="#">连裤袜</a>
				<a target="_blank" href="#">男式内裤</a>
				<a target="_blank" href="#">保暖裤</a>
				<a target="_blank" href="#">聚拢文胸</a>
				<a target="_blank" href="#">美腿袜</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">浪莎</a>
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">南极人</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">北极绒</a>
				<a target="_blank" href="#">爱慕</a>
				<a target="_blank" href="#">曼妮芬</a>
				<a target="_blank" href="#">歌瑞尔</a>
				<a target="_blank" href="#">古今</a>
				<a target="_blank" href="#">猫人</a>
				<a target="_blank" href="#">安莉芳</a>
				<a target="_blank" href="#">夏娃之秀</a>
				<a target="_blank" href="#">黛安芬</a>
				<a target="_blank" href="#">金三塔</a>
			</p>
		</li>
		<p class="subItemAd">
			<a target="_blank" href="#">
				<img width="218" height="32" alt="潮流服饰精选" src="http://img04.taobaocdn.com/tps/i4/T1dVzWXbpjXXb12rTm-218-32.png"/>
			</a>
		</p>	
	</ul>
</div>
<div class="subView">
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">珠宝饰品/手表眼睛</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣棉服</a>
				<a target="_blank" href="#">毛呢外套</a>
				<a target="_blank" href="#">打底裤</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">连衣裙</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">中老年服装</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">T恤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">半身裙</a>
				<a target="_blank" href="#">皮草</a>
				<a target="_blank" href="#">婚纱/礼服/旗袍</a>
				<a target="_blank" href="#">真皮皮衣</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">婚纱</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">ochirly</a>
				<a target="_blank" href="#">韩都衣舍</a>
				<a target="_blank" href="#">裂帛</a>
				<a target="_blank" href="#">优衣库</a>
				<a target="_blank" href="#">only</a>
				<a target="_blank" href="#">秋水伊人</a>
				<a target="_blank" href="#">哥弟</a>
				<a target="_blank" href="#">粉红大布娃娃</a>
				<a target="_blank" href="#">三彩</a>
				<a target="_blank" href="#">歌莉娅</a>
				<a target="_blank" href="#">茵曼</a>
				<a target="_blank" href="#">艾莱依</a>
				<a target="_blank" href="#">衣香丽影</a>
				<a target="_blank" href="#">江南布衣</a>
				<a target="_blank" href="#">纳纹</a>
				<a target="_blank" href="#">播</a>
				<a target="_blank" href="#">香影</a>
				<a target="_blank" href="#">雅鹿</a>
				<a target="_blank" href="#">OSA</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">服饰配件</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">女士丝巾/围巾/披肩</a>
				<a target="_blank" href="#">男士皮带</a>
				<a target="_blank" href="#">女士腰带</a>
				<a target="_blank" href="#">毛线</a>
				<a target="_blank" href="#">手套</a>
				<a target="_blank" href="#">帽子</a>
				<a target="_blank" href="#">男士围巾</a>
				<a target="_blank" href="#">领带/领结</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">Rayli</a>
				<a target="_blank" href="#">CARTELO</a>
			</p>
		</li>
	</ul>
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精品男装</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">羽绒服</a>
				<a target="_blank" href="#">毛衣</a>
				<a target="_blank" href="#">棉衣</a>
				<a target="_blank" href="#">皮衣</a>
				<a target="_blank" href="#">牛仔裤</a>
				<a target="_blank" href="#">呢大衣</a>
				<a target="_blank" href="#">风衣</a>
				<a target="_blank" href="#">夹克</a>
				<a target="_blank" href="#">羊绒衫</a>
				<a target="_blank" href="#">休闲裤</a>
				<a target="_blank" href="#">卫衣</a>
				<a target="_blank" href="#">马甲/背心</a>
				<a target="_blank" href="#">衬衫</a>
				<a target="_blank" href="#">t恤</a>
				<a target="_blank" href="#">针织衫</a>
				<a target="_blank" href="#">皮裤</a>
				<a target="_blank" href="#">西服</a>
				<a target="_blank" href="#">西裤</a>
				<a target="_blank" href="#">西服套装</a>
				<a target="_blank" href="#">中老年服装</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">JACKJONES</a>
				<a target="_blank" href="#">太平鸟</a>
				<a target="_blank" href="#">GXG</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">劲霸</a>
				<a target="_blank" href="#">马克华菲</a>
				<a target="_blank" href="#">九牧王</a>
				<a target="_blank" href="#">利郎</a>
				<a target="_blank" href="#">LEE</a>
				<a target="_blank" href="#">柒牌</a>
				<a target="_blank" href="#">LEVI'S</a>
				<a target="_blank" href="#">SELECTED</a>
				<a target="_blank" href="#">杉杉</a>
				<a target="_blank" href="#">雅戈尔</a>
				<a target="_blank" href="#">DICKIES</a>
				<a target="_blank" href="#">诺帝卡</a>
				<a target="_blank" href="#">报喜鸟</a>
			</p>
		</li>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">时尚家居</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">睡衣套装</a>
				<a target="_blank" href="#">夹棉家居服</a>
				<a target="_blank" href="#">珊瑚绒家居服</a>
				<a target="_blank" href="#">情侣套装</a>
				<a target="_blank" href="#">卡通睡衣</a>
				<a target="_blank" href="#">睡袍</a>
				<a target="_blank" href="#">睡裙</a>
				<a target="_blank" href="#">睡裤</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">芬腾</a>
				<a target="_blank" href="#">安之伴</a>
				<a target="_blank" href="#">派邦奴</a>
				<a target="_blank" href="#">秋鹿</a>
				<a target="_blank" href="#">睦隆世家</a>
				<a target="_blank" href="#">雪俐</a>
				<a target="_blank" href="#">爱帝</a>
				<a target="_blank" href="#">美梦</a>
			</p>
		</li>
	</ul>		
	
	<ul>
		<li class="subItem">
			<h3 class="subItem-hd"><a target="_blank" href="#">精致内衣</a></h3>
			<p class="subItem-cat">
				<a target="_blank" href="#">保暖套装</a>
				<a target="_blank" href="#">保暖上衣</a>
				<a target="_blank" href="#">精品文胸</a>
				<a target="_blank" href="#">塑身衣</a>
				<a target="_blank" href="#">女式内裤</a>
				<a target="_blank" href="#">文胸套装</a>
				<a target="_blank" href="#">中筒袜</a>
				<a target="_blank" href="#">连裤袜</a>
				<a target="_blank" href="#">男式内裤</a>
				<a target="_blank" href="#">保暖裤</a>
				<a target="_blank" href="#">聚拢文胸</a>
				<a target="_blank" href="#">美腿袜</a>
			</p>
			<h4 class="subItem-title brandTitle">品牌：</h4>
			<p class="subItem-brand">
				<a target="_blank" href="#">七匹狼</a>
				<a target="_blank" href="#">浪莎</a>
				<a target="_blank" href="#">波司登</a>
				<a target="_blank" href="#">南极人</a>
				<a target="_blank" href="#">恒源祥</a>
				<a target="_blank" href="#">北极绒</a>
				<a target="_blank" href="#">爱慕</a>
				<a target="_blank" href="#">曼妮芬</a>
				<a target="_blank" href="#">歌瑞尔</a>
				<a target="_blank" href="#">古今</a>
				<a target="_blank" href="#">猫人</a>
				<a target="_blank" href="#">安莉芳</a>
				<a target="_blank" href="#">夏娃之秀</a>
				<a target="_blank" href="#">黛安芬</a>
				<a target="_blank" href="#">金三塔</a>
			</p>
		</li>
		<p class="subItemAd">
			<a target="_blank" href="#">
			<img width="218" height="32" alt="潮流服饰精选" src="http://img04.taobaocdn.com/tps/i4/T1dVzWXbpjXXb12rTm-218-32.png"/>
			</a>
		</p>	
	</ul>
</div>
<div class="subView">4、化妆品</div>
<div class="subView">5、运动户外</div>
<div class="subView">6、手机数码</div>
<div class="subView">7、家用电器</div>
<div class="subView">8、家具建材</div>
<div class="subView">9、家纺/居家</div>
<div class="subView">10、母婴玩具</div>
<div class="subView">11、食品</div>
<div class="subView">12、医药保健</div>
<div class="subView">13、汽车配件</div>
<div class="subView">14、图书音像</div>
<div class="subView">15、文化娱乐</div>
<div class="subView">16、手机/网游点卡</div>