<script type="text/javascript" src="/public/javascripts/head.load.min.js"></script>
<div class="o-mt">
	<h2>我的订单</h2>
</div>
<div class="m m5" id="order01">
	<div class="mc">
		<dl>
			<dt>便利提醒：</dt>
			<dd class="ftx-03" id="ordercount-waitPay">待付款(0)</dd>
			<dd class="ftx-03" id="ordercount-waitReceive">待确认收货(0)</dd>
			<dd class="ftx-03" id="ordercount-waitPick">待自提(0)</dd>
		</dl>
		<dl>
			<dt>特色服务：</dt>
			<dd>
				<a href="" target="_blank">XXXXXX</a>
			</dd>
			<dd>
				<a href="" target="_blank">YYYYYY</a>
			</dd>
		</dl>
	</div>
</div>

<div id="searchorder">
	<input type="text" id="orderKey"/><input type="button" class="btn btn-primary" value="查询订单" onclick="searchOrder();"/>
	<select id="submitDate" name="submitDate" class="sele fr">
		<option value="0" selected="selected">全部时间</option>
		<option value="1">最近三个月</option>
		<option value="2">今年内</option>
		<option value="8">2012年</option>
		<option value="3">2011年</option>
		<option value="4">2010年</option>
		<option value="5">2009年</option>
		<option value="6">2008年</option>
		<option value="7">2008年以前</option>
	</select>
	
	<select id="orderState" name="orderState" class="sele fr" style="margin-right:10px">
		<option value="4096" selected="selected">全部状态</option>
		<option value="1">等待付款</option>
		<option value="32">等待自提</option>
		<option value="128">等待收货</option>
		<option value="1024">已完成</option>
		<option value="-1">已取消</option>
	</select>
</div>
				
<div id="myorderbody">
</div>

<script>
    load("#myorderbody","@{Order.uView()}?p=1");
</script>
<script type="text/javascript" src="/public/javascripts/order.js"></script>
<style>
<!--
	#myorder thead th{vertical-align: middle;}
	#submitDate,#orderState{margin:0, 10px; }
	.sele{width:auto;}
	table th{text-align:center; }
	table{ font-size:14px; }
	table a {cursor:hand;color: #36c;text-decoration: none;font-size:12px;}
	.s-amount input{margin-bottom:5px;}
-->
</style>
