<div class="vcard">
	<!-- <img class="thumbnail" src="http://wwc.taobaocdn.com/avatar/getAvatar.do?userId=279257634&amp;width=100&amp;height=100&amp;type=sns"> -->
	<ul style="margin: 10px 0">
		<li class="v-heading">我的级别</li>
		<li>
			<span class="item-key">您的会员级别</span>
			<div class="vcard-item">铜牌用户</div>
		</li>
		<li>
			<span class="item-key">会员注册日期</span>
			<div class="vcard-item">2011-2-23 15:23:56</div>
		</li>
		<li>
			<span class="item-key">最近一年内消费</span>
			<div class="vcard-item">
				<ul class="list_a">
					<li><strong style="color:red">￥953.20</strong></li>
					<li>只需要再消费<strong style="color:red">￥4,046.80</strong>，即可升级到银牌会员</li>
				</ul>
			</div>
		</li>
		<li>
			<span class="item-key">权利及优惠：</span>
			<div class="vcard-item">
				<ul class="list_a">
					<li>可以享受铜牌会员级别所能购买的产品及服务；</li>
					<li>享受全场满<b>39</b>元免运费服务；</li>
					<li>可以参与铜牌会员级别所能参与的商品拍卖；</li>
					<li>可以使用积分兑换<b>10</b>元京券；；</li>
					<li>可享受返修/退换货取件运费优惠（<a target="_blank" href="#">查看退/换货说明</a>）。</li>
				</ul>
			</div>
		</li>
		<li>
			<span class="item-key">会员升级记录：</span>
			<div class="vcard-item">
				<ul class="list_a">
					<li>2011-10-23   升级为铜牌用户会员</li>
					<li>2011-08-20   升级为铁牌用户会员</li>
					<li>2011-02-23   注册用户会员</li>
				</ul>
 			</div>
		</li>
		<li>
			<span class="item-key">会员级别图示：</span>
			<div class="vcard-item">
				<img width="784" height="157" alt="会员级别图示" src="/public/images/grade/jibie.png"/>
			</div>
		</li>
	</ul>
</div>
