<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="keywords" content="${appConfig?.keywords}"></meta>
<meta name="description" content="${appConfig?.description}"></meta>
<title>用户注册_天狗</title>
<link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/public/css/reg.css"></link>
<link rel="stylesheet" type="text/css" href="https://imgssl.suning.com/css/css_user_630/main.css?v=20130401"></link>
<link rel="stylesheet" type="text/css" href="https://imgssl.suning.com/css/css_user_830/style02/logRegMain.css?v=20130401"></link>
<link rel="stylesheet" type="text/css" href="https://imgssl.suning.com/css/ShoppingArea/V8/home/common930.css?v=20130611"></link>
<link href="https://imgssl.suning.com/css/ShoppingArea/V8/home/common630.css?v=20130611" rel="stylesheet" type="text/css"></link>
<link href="https://imgssl.suning.com/css/style05/jquery.dimensions.css" rel="stylesheet" type="text/css"></link>
<script type="text/javascript" src="/public/lib/jquery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/public/javascripts/userreg.js"></script>
<script type="text/javascript" src="/public/javascripts/pwd.js"></script>
<script language="javascript" src="/public/javascripts/headlib.js"></script>
<script type="text/javascript">
    $(function() {
        var emailLogonPassword = $("#emailLogonPassword").val();
        if (emailLogonPassword.length > 0) {
            checkPwdSafeLevel("emailSafeRank", emailLogonPassword);
        }
    });
</script>
</head>
<body>

	<!--Simple Header-->
	<span class="clear"></span>

	<div id="header">
		<div id="topArea" class="w1190">
			<span class="leftTool redBaby">
				<a target="_blank" href="/"> 天狗 </a>
			</span>
			<span class="leftTool addFav">
				<a href="javascript:addfavorite();">收藏</a>
			</span>
			<p class="loginInfo" id="regit">
				您好，欢迎来天狗！
				<a href="@{Secure.login()}">登录</a>
				<a href="/initreg">注册</a>
			</p>
			<ul class="headerMenu">
				<li class="noline">
					<a href="/">回天狗首页</a>
				</li>
				<li>
					<a href="/myorder" target="_blank">我的订单</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
        $(function() {
            $(".mycar, .myhelp, .myweb").bind({
                mouseover : function() {
                    addhover(this);
                },
                mouseout : function() {
                    delhover(this);
                }
            });
        });
    </script>

	<div class="simpleHeader">
		<div class="wrapper logo">
			<a href="/" title="返回首页">
				<img src="/public/images/logo.jpg" alt="首页"></img>
			</a>
		</div>
	</div>
	<div class="accReg wrapper" id="accountReg">
		<h2 class="stepTitle"></h2>
		<div class="accTab">
			<a href="#" class="on" tabindex="16">邮箱注册</a>
		</div>
		<div class="tabCont regBox" style="display: block;">
			<h2>
				填写注册信息<em>(除标注可选填外均为必填)</em>
			</h2>
			<form action="SNUserRegister" method="post" id="emailRegisterForm">
				<table>
					<tbody>
						<tr>
							<th>邮箱地址：</th>
							<td>
								<div class="resultBox" id="resultBox">
									<input type="text" class="uiText" autocomplete="off" name="egoAccountOfEmail" id="egoAccountOfEmail" value="" tabindex="1"></input>
									<span class="iptTip" id="p_egoAccountOfEmail_info"></span>
									<ul class="list hide" id="emailct"></ul>
								</div>
							</td>
						</tr>
						<tr>
							<th>设置密码：</th>
							<td class="setPwd">
								<div class="spBox">
									<input type="password" class="uiText t240" name="logonPassword" id="emailLogonPassword" maxlength="20" tabindex="2" value=""></input>
									<div class="safeRank" id="emailSafeRank">
										<ul>
											<li>低</li>
											<li>中</li>
											<li>高</li>
										</ul>
									</div>
								</div>
								<p class="iptTip txtFalse" id="p_egoAcctEmailPwd_info">
									<em class="tipFalse"></em>请输入6-20位密码！
								</p>
							</td>
						</tr>
						<tr>
							<th>确认密码：</th>
							<td>
								<input tabindex="3" type="password" class="uiText" name="logonPasswordVerify" id="emailLogonPasswordVerify" maxlength="20" value=""></input>
								<span class="iptTip txtFalse" id="p_egoAcctEmailConfirmPwd_info">
									<em class="tipFalse"></em>请再次输入密码！
								</span>
							</td>
						</tr>

						<tr class="regTreaty">
							<th></th>
							<td>
								<input type="checkbox" checked="checked" id="epp_email_checked"></input>
								同意
								<a href="/" target="_blank">《天狗会员章程》</a>
								<span class="iptTip" id="epp_email_checked_error"></span>
							</td>
						</tr>
						<tr id="emailRegButtonArea">
							<th></th>
							<td class="regSubmit">
								<a tabindex="6" href="javascript:void(0);" class="uiBtn b1" onclick="emailRegisterSubmit();return false;">
									<span>
										<b>提交注册</b>
									</span>
								</a>
								<span id="otherEmailRegServerErrorInfo" class="iptTip txtFalse" style="display: none"></span>
							</td>
						</tr>
						<tr id="emailRegLoadingArea" style="display: none;">
							<th></th>
							<td class="loading">
								<p class="loadingText">正在提交，请稍候...</p>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div class="uiWin" id="tipBox" style="display: none; top: 220px;">
		<div class="title">
			<h3>密码设置建议</h3>
			<em><a href="javascript:void(0);" class="close" title="关闭窗口" onclick="closeWin({id:'tipBox'});">关闭</a></em>
		</div>
		<div class="pwdSetTip clearfix">
			<p>据统计研究，80%的被盗账号都是由于密码太简单而引起的。</p>
			<p>
				<strong>为了您的账户安全，在设置密码时，我们建议：</strong>
			</p>
			<ul>
				<li>一． 密码设置在6-20个字符，不允许空格或以下特殊字符:&lt;&gt;;’\</li>
				<li>二． 设置时使用英文字母、数字和符号的组合，如opmst_501，或者365opmst#&amp;，设置时注意区分大小写，尽量不要有规律：</li>
				<li>&nbsp; 1、不要使用6个及6个以上相同连续字符，这样容易被人猜到；</li>
				<li>&nbsp; 2、不要和用户名太相似，这样容易被人猜到；</li>
				<li>&nbsp; 3、不要用手机号、电话号码、生日、学号、身份证号等个人信息；</li>
				<li>三． 如果设置以下安全性过低的密码，系统都会提醒您修改密码，直至符合安全性要求：</li>
				<li>&nbsp; 1、密码与会员名或电子邮件地址相同；</li>
				<li>&nbsp; 2、全部由英文字母组成；</li>
				<li>&nbsp; 3、全部由数字组成；</li>
				<li>&nbsp; 4、包含6个及以上相同连续字符组成；</li>
				<li>四． 在易购、易付宝和注册邮箱中设置不同的密码，以免一个账户被盗造成其他账户同时被盗。</li>
				<li>五． 定期更改密码，并做好书面记录，以免忘记。</li>
			</ul>
			<a href="javascript:void(0);" class="uiBtn b3 close" onclick="closeWin({id:'tipBox'});">
				<span>
					<b>确定</b>
				</span>
			</a>
		</div>
	</div>
	<span class="clear"></span>

	<div class="clear"></div>

</body>
</html>